//IMPORT GENERAL MIXINS AND CLASSES
@import "_mixins.scss";
body {
  @include nbx-cero;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.nbx-layout {
  /*.nbx-menu {
    width: 300px;
    height: 100vh;
    background: lightgreen;
  }*/
  box-sizing: border-box;
  position: relative;
  top: 120px;
  left: 24px;
  position: absolute;
  width: calc(100vw - 48px);
  height: calc(100vh - 48px - 96px);
  .nbx-title {
    padding-bottom: 14px;
    font: {
      family: 'Roboto', 'Arial', sans-serif;
      size: 17px;
      weight: 600;
    }
    color: $color-3;
    text: {
      align: left;
      transform: capitalize;
    }
  }
  .nbx-box-screen {
    width: 100%;
  }
  .nbx-filter {
    @include nbx-flex-common;
    justify-content: flex-start;
  }
  &.free {
    .nbx-box-screen {
      height: 100%;
    }
  }
  &.filter-grid {
    .nbx-filter {
      box-sizing: border-box;
      padding-bottom: 24px;
      min-height: 54px; 
    }
    .nbx-box-screen {
      height: calc(100% - 93px);
    }
  }
  &.grid {
    .nbx-box-screen {
      height: calc(100% - 39px);
    }
  }
  &.designer {
    border: 1px solid plum;
    .nbx-title {
      border: 1px solid greenyellow;
    }
    .nbx-filter {
      border: 1px solid blue;
    }
    .nbx-box-screen {
      border: 1px solid red;
    }
  }
}