//IMPORT GENERAL MIXINS AND CLASSES
@import "_mixins.scss";
.nbx-input {
  position: relative;
  width: 100%; //INPUT GENERAL START
  input {
    color: $soft-black;
    display: inline-block;
    padding: 0px 6px 0px 6px;
    @include nbx-border-md;
    @include nbx-roboto;
    @include nbx-animate;
    outline: none;
    position: relative;
    font-size: 13px;
    @include nbx-text-overflow;
    box-sizing: border-box;
    width: 100%;
    &::-ms-clear {
      display: none;
    } //FOCUS OVERRIDE DEFAULT BROWSER
    &:focus,
    &:active,
    &:hover {
      border: 0;
      outline: 0;
      outline: none;
    }
    &::placeholder {
      color: lighten($black, 40%);
      font-style: italic;
      font-weight: i400;
    }
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .nbx-icon-validation {
    display: none;
  } //VALIDATION START
  &.validation-failed {
    input {
      padding: 0px 30px 0px 6px;
    }
    .nbx-icon-validation {
      display: inline-block;
      width: 24px;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiCgkgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiNFQTUyMEQ7fQo8L3N0eWxlPgo8dGl0bGU+aW52YWxpZG88L3RpdGxlPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTIsMEM1LjM3MywwLDAsNS4zNzMsMCwxMnM1LjM3MywxMiwxMiwxMnMxMi01LjM3MywxMi0xMlMxOC42MjcsMCwxMiwweiBNMTMuNSwxOS41aC0zdi0zaDNWMTkuNXogTTEzLjUsMTMuNQoJaC0zdi05aDNWMTMuNXoiLz4KPC9zdmc+Cg==);
      background-repeat: no-repeat;
      background-size: 18px auto;
      background-position: center;
      position: absolute;
      right: 0px;
      bottom: 0px;
      z-index: 100;
    }
  } //VALIDATION STOP
  //GENERAL SHARED PROPERTIES START
  &.lg {
    input {
      height: 32px;
    }
    .nbx-icon-validation {
      height: 32px;
    }
  }
  &.sm {
    input {
      height: 28px;
    }
    .nbx-icon-validation {
      height: 28px;
    }
  } //GENERAL SHARED PROPIERTIES END
  //INPUT GENERAL STOP
  //INPUT NORMAL STYLE START
  &.normal {
    input {
      background-color: $white;
      border: 1px solid $gray-19;
      color: $black;
      &:focus,
      &:active {
        border: 1px solid $color-3;
      }
      &:hover {
        border: 1px solid $hover-gray;
      }
      &.disabled {
        background: $gray-17;
        background-color: $gray-17;
        border: 1px solid $gray-2;
        color: $gray-15;
        &:focus,
        &:hover,
        &:active {
          border: 1px solid $gray-2;
        }
      }
      &::placeholder {
        color: lighten($black, 40%);
        font-style: italic;
        font-weight: i400;
      } //FOCUS CUSTOM
      &.focus,
      &:focus {
        border-color: $color-5;
        box-shadow: 0 0 0 1px $color-5;
      }
    }
    &.validation-failed {
      input {
        border: 2px solid $color-10;
      }
    }
  } //INPUT NORMAL STYLE STOP
  //INPUT BASE-LINE STYLE START
  &.base-line {
    input {
      border-radius: 0 !important;
      border-left: 0;
      border-right: 0;
      border-top: 1px solid transparent;
      border-bottom: 1px solid $gray-19;
      background-color: transparent;
      &:hover {
        border-bottom: 1px solid $hover-gray;
      }
      &::placeholder {
        color: lighten($black, 40%);
        font-style: italic;
        font-weight: i400;
      }
      &:disabled {
        color: $gray-15;
        border-bottom: 1px solid $gray-2;
      }
      &.disabled {
        color: $gray-15;
        &:focus,
        &:hover,
        &:active {
          border-bottom: 1px solid $gray-2;
          color: $gray-15;
        }
      } //FOCUS CUSTOM
      &.focus,
      &:focus {
        padding-top: 1px;
        border-bottom: 2px solid $color-5;
        line-height: 20px!important;
      }
    }
    &.validation-failed {
      input {
        padding-top: 1px;
        border-bottom: 2px solid $color-10;
      }
    }
  } //INPUT BASE-LINE STOP
  //INPUT FORCE PLACEHOLDER START
  &.force-placeholder {
    input {
      border: 1px solid transparent;
      font-style: italic;
      color: lighten($black, 40%);
      background-color: transparent;
      &:hover {
        border: 1px solid $gray-16;
        background-color: $white;
      }
      &:focus,
      &:active {
        border: 1px solid $color-1;
        background-color: $white;
        color: $black;
        font-style: normal;
        font-weight: 400;
      }
      &::placeholder {
        color: lighten($black, 40%);
        font-style: italic;
        font-weight: i400;
      }
      &:disabled {
        color: $gray-15;
      }
    }
  } //INPUT FORCE PLACEHOLDER STOP
  //INPUT FORCE DATA START
  &.force-data {
    input {
      border: 1px solid transparent;
      font-style: normal;
      text-transform: capitalize;
      color: $black;
      background-color: transparent;
      &:hover {
        border: 1px solid $gray-16;
        background-color: $white;
      }
      &:focus {
        border: 1px solid $color-1;
        background-color: $white;
      }
      &:disabled {
        color: $gray-15;
      }
    }
    &.disabled {
      input {
        color: $gray-15;
        &:focus,
        &:hover,
        &:active {
          background-color: $gray-17;
          background: $gray-17;
          border: 1px solid $gray-2;
          color: $gray-15;
        }
      }
    }
  } //INPUT FORCE DATA END
}

// FIX A ICONO VALIDACION DE INPUTS CON PORCENTAJES

.icon-percentage + .nbx-input.validation-failed .nbx-icon-validation {
  margin-right: 22px;
} 


html[data-useragent*="Firefox"] {
  .nbx-input {
    input[required] {
      box-shadow: none!important;
    }
  }
} 