//IMPORT GENERAL MIXINS AND CLASSES
@import "_mixins.scss";

.flex-row, .flex-column {
  .nbx-element-container {
    > .label {
      &.disabled-label {
        color: $gray-19;
      }
    }
  }
}

.flex-row{
  margin-top: 20px;
  margin-bottom: 20px;
  &.parent {
    align-items: flex-start;
  }
  &:first-of-type{
    margin-top: 0px;
  }
  &:last-of-type {
    margin-bottom: 0px;
  }
  .nbx-element-container {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.flex-column {
  margin-right: 20px;
  &:first-of-type{
    margin-top: 0px;
  }
  &:last-of-type {
    margin-right: 0px;
  }
  .nbx-element-container {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}

.nbx-element-container {
  position: relative;
  .label {
    font: {
      size: 13px;
    }
    @include nbx-roboto;
    color: $black;
    width: auto;
  }
  &.direction-y {
    .label {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 12px;
    }
    height: 55px;
    @include nbx-flex-alt;
    justify-content: space-between;
    align-items: flex-start;
    &.check-radio{
      display: inline-block;
      > label {
        display: block;
        width: 100%;
        margin-right: 0px;
      }
      .nbx-radio, .nbx-checkbox  {
        float: left;
        margin-right: 10px;
        line-height: 37px;
        height: 37px;
        &:last-of-type {
          margin-right: 0px;
        }
        .wrapper-radio {
          float: left;
        }
        > label {
          float: left;
          margin-left: 8px;
          font: {
            size: 13px;
          }
          @include nbx-roboto;
          color: $black;
          padding-top: 5px;
        }
      }
    }
  }
  &.direction-x {
    font-weight: 400;
    @include nbx-flex-common;
    justify-content: space-between;
    height: 32px;
    .label {
      font-weight: 400;
      text-transform: inherit;
      margin-right: 8px;
      margin-top: 4px;
      max-width: 100%;
      flex-shrink: 0;
      text-align: left;
    }
    &.check-radio {
      display: inline-block;
      > label {
        display: block;
        width: 100%;
        margin-right: 0px;
      } 
      .nbx-radio, .nbx-checkbox  {
        @include nbx-flex-common;
        justify-content: flex-start;
        margin-right: 8px;
       
        &:last-of-type{
          margin-right: 0px;
        }
        .wrapper-radio {
          margin-top: 4px;
        }
        .wrapper-checkbox {
          > label {
            margin-right: 6px;
          }
        }
        > label {
          margin-left: 4px;
          font: {
            size: 13px;
            weight: 400;
          }
          color: $black;
          margin-right: 8px;
          margin-top: 4px;
          max-width: 100%;
          flex-shrink: 0;
          text-align: left;
          padding-top: 5px;
          @include nbx-roboto;
        }
      }
    }
    &.check {
      @include nbx-flex-common;
      justify-content: flex-start;
      > label {
        display: block;
        width: 100%;
        margin-right: 0px;
        margin-left: 6px;
        margin-bottom: 4px;
        margin-top: 0px;
      } 
      .nbx-checkbox  {
        @include nbx-flex-common;
        justify-content: flex-start;
        position: absolute;
        right: 0;
        top: -3px;
        &:last-of-type{
          margin-right: 0px;
        }
        .wrapper-radio {
          margin-top: 4px;
        }
        &.focus {
          margin-top: 12px;
		      margin-right: 1px;
          input.input-check[type="checkbox"]:not(:checked)+label.label-check:before,
          input.input-check[type="checkbox"]:checked+label.label-check:before, input.input-check[type="checkbox"]:not(:checked)+label.label-check:after,
          input.input-check[type="checkbox"]:checked+label.label-check:after {
            top: 0;
            margin-left: 1px;
            line-height: 15px;
          }
        }
        > label {
          margin-top: 4px;
          margin-left: 4px;
          font: {
            size: 13px;
          }
          @include nbx-roboto;
          color: $black;
        }
      }
    }
  }
  &:first-of-type{
    margin-left: 0px;
  }
  &:last-of-type {
    margin-right: 0px;
  }
}

.filter-common {
  .flex-row, .flex-column {
    .nbx-element-container {
      &.direction-y {
        height: 32px;
      }
    }
  }
}

.icon-percentage{
  width: 20px;
  height: 20px;
  padding: 2px;
  font-family: 'Nubox'!important;
  color: $color-3;
  font-size: 20px;
  position: absolute;
  right: 3px;
  top: 12px;
}

.icon-percentage:before {
  content: "\e96d";
  width: 20px;
  height: 20px;
  padding: 2px;
  font-family: 'Nubox'!important;
  color: $color-3;
  font-size: 20px;
  position: absolute;
  right: 3px;
  top: 12px;
}

//STYLE FOR TIPS & ADVICE INSIDE FORMS
.nbx-tip {
  @include nbx-cero;
  @include nbx-flex-common;
  box-sizing: border-box;
  text: {
    align: left;
  }
  margin-bottom: 10px;
  &:first-of-type{
    margin-top: 10px;
  }
  &:last-of-type{
    margin-bottom: -12px;
  }
  > span.nuboxFont {
    font-size: 18px;
    font-weight: 400;
    margin-right: 6px;
    span {
      &:first-of-type {
        &:before {
          color: $gray-8;
        }
      }
      &:last-of-type {
        &:before {
          color: $color-9;
        }
      }
    }
  }
  span.nbx-text-tip {
    @include nbx-roboto;
    font: {
      size: 14px;
      weight: 300;
    }
    color: $black;
  }
}
.tip-bottom {
  margin-top: 141px !important;
}