//IMPORT GENERAL MIXINS AND CLASSES
@import "./_mixins";

// PARTICULAR CLASSES
.nbx-label-button {
  color: $white;
  box-sizing: border-box; 
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  display: inline-block;
  position: relative;
  @include nbx-flex-common;
  @include nbx-animate;
  @include nbx-roboto;
  @include nbx-border-lg;
  font: {
    size: 11px;
    weight: 500;
  }
  text: {
    align: center;
    transform: uppercase;
  }
  outline: none;
  &:hover, &:active, &:focus {
    outline: none;
  }
  &.color-1{ 
    background: $color-1;
    background-color: $color-1;
    border: 1px solid $color-1;
    &:hover {
      background: lighten($color-1, 10%);
      background-color: lighten($color-1, 10%);
    }
  }
  &.color-2{ 
    background: $color-2;
    background-color: $color-2;
    border: 1px solid $color-2;
    &:hover {
      background: lighten($color-2, 10%);
      background-color: lighten($color-2, 10%);
    }
  }
  &.color-3{ 
    background: $color-3;
    background-color: $color-3;
    border: 1px solid $color-3;
    &:hover {
      background: lighten($color-3, 10%);
      background-color: lighten($color-3, 10%);
    }
  }
  &.color-4{ 
    background: $color-4;
    background-color: $color-4;
    border: 1px solid $color-4;
    &:hover {
      background: lighten($color-4, 10%);
      background-color: lighten($color-4, 10%);
    }
  }
  &.color-5{ 
    background: $color-5;
    background-color: $color-5;
    border: 1px solid $color-5;
    &:hover {
      background: lighten($color-5, 10%);
      background-color: lighten($color-5, 10%);
    }
  }
  &.color-6{ 
    background: $color-8;
    background-color: $color-8;
    border: 1px solid $color-8;
    &:hover {
      background: lighten($color-8, 10%);
      background-color: lighten($color-8, 10%);
    }
  }
  &.color-7{ 
    background: $color-9;
    background-color: $color-9;
    border: 1px solid $color-9;
    &:hover {
      background: lighten($color-9, 10%);
      background-color: lighten($color-9, 10%);
    }
  }
  &.color-8{ 
    background: $color-10;
    background-color: $color-10;
    border: 1px solid $color-10;
    &:hover {
      background: lighten($color-10, 10%);
      background-color: lighten($color-10, 10%);
    }
  }
  &.disabled {
    background: $gray-15;
    background-color: $gray-15;
    border: 1px solid $gray-15;
    color: $gray-17;
    /*&:hover {
      background: darken($gray-15, 10%);
      background-color: darken($gray-15, 10%);
      color: $gray-17;
    }*/
  }
  &.lg {
    height: 32px;
  }
  &.sm {
    height: 28px;
  }
  > span {
    color: $white;
    font-size: 12px;
    margin-right: 6px;
  }
}
