// TRINI 
// Fix a ubicación de botones de footer de modal carga masiva y hover

.cargamasiva {
	.close-modal {
	  right: 0 !important;
	  top: 0 !important;
	  &:hover {
		color: white;
	  }
	}
  }
  
  // Fix a borde azul de boton subir archivo de modal
  
  .cargamasiva.panel.panel-primary.upload-box {
	border: none;
  }