//IMPORT GENERAL MIXINS AND CLASSES
@import "_mixins.scss";

.nbx-total {
  background-color: $gray-6;
  border: 1px solid $gray-2;
  padding: 18px;
  width: 100%;
  box-sizing: border-box;
  .nbx-total-cell {
    font: {
      family: 'Roboto', sans-serif;
      size: 16px;
      weight: 600;
    }
    color: $black;
    text-align: right;
    padding: 0px 8px 0px 8px;
  }
}