//IMPORT GENERAL MIXINS AND CLASSES
@import "_mixins.scss";
body {
    @include nbx-cero;
}

.nbx-layout {
  .navbar-space {
      display: block;
      width: 100%;
      height: 60px;
      position: fixed;
      top: 0px;
      left: 0px;
  }
  .breadcrumb-space {
      display: block;
      height: 38px;
      position: fixed;
      top: 60px;
      left: 0px;
      width: 100%;
  }
  .component-space {
    height: auto;
    width: auto;
    @include nbx-cero;
    > div {
      height: auto;
      width: auto;
      @include nbx-cero;
      .layout-header {
        &.filter-common {
          height: 32px;
        }
      }
      .layout-body {
        position: relative;
        &.grid-actiontop-actionbottom {
          height: calc(100vh - 260px);
          position: relative;
          &.no-filter {
            height: calc(100vh - 187px);
            >.grid-common {
              height: calc(100vh - 291px);
            }
          }
          >.grid-common {
            height: calc(100vh - 330px);
            .body-nbx-grid {
              border-right: 1px solid #d8d8d8;
              border-left: 1px solid #d8d8d8;
              .cnt-body-nbx-grid {
                max-height: 100% !important;
                width: calc(100% + 1px);
                border-left: 0;
                .nivel-ul {
                  border-left: 0;
                }
                .register.level-1 {
                  .nivel-ul {
                    border-left: 0;
                  }
                  &:last-of-type{
                    border-bottom: 1px solid #d8d8d8;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


h1.section-title {
    @include nbx-roboto;
    font: {
        size: 17px;
        weight: 600;
    }
    margin-top: -4px;
    padding-bottom: 14px;
    color: $color-3;
}

.common-filter {
    height: 32px;
    box-sizing: border-box;
}

// SE ESCONDE SCROLL NATIVO PARA EVITAR SALTO CUANDO NO HAY REGISTROS

.cnt-body-nbx-grid.nbx-scrollbar.scroll-content:empty {
  overflow: hidden !important;
  display: none;
}

// SE ESCONDE SCROLL HORIZONTAL

.cnt-body-nbx-grid.nbx-scrollbar.scroll-content {
  overflow-x: hidden !important;
}
  
// ESPACIO PARA RENDEREAR EL POPOVER PRUEBA

.nbx-pop-grid-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  .nbx-popover {
    pointer-events: all;
  }
}