//IMPORT GENERAL MIXINS AND CLASSES
@import "_mixins.scss";

// PARTICULAR CLASSES
.nbx-split-button
{
  position: relative;
  transition: box-shadow 200ms ease;
  &.normal {
    button.button-splitbutton {
      background: $color-3;
      background-color: $color-3;
      border: 1px solid $color-3;
      &:hover {
        background: lighten($color-3, 10%);
        background-color: lighten($color-3, 10%);
      }
      &:focus {
        outline: 0;
      }
    }  
  }
  &.highlight {
    button.button-splitbutton {
      background: $color-2;
      background-color: $color-2;
      border: 1px solid $color-2;
      &:hover {
        background: lighten($color-2, 10%);
        background-color: lighten($color-2, 10%);
      }
      &:focus {
        outline: 0;
      }
    }
  }
  &.disabled {
    button.button-splitbutton {
      background: $gray-17;
      background-color: $gray-17;
      border: 1px solid $gray-16;
      color: $gray-15;
      box-shadow: none;
      &:hover {
        background: darken($gray-17, 10%);
        background-color: darken($gray-17, 10%);
        color: $gray-15;
      }
      &:focus {
        outline: 0;
      }
    }
  }
  &.lg {
    button.button-splitbutton {
      height: 32px;
      > span {
        margin-top: 0px;
        width: 36px;
        height: 30px;
        border-left: 1px solid $white;
        font-size: 12px;
        font-family: 'Nubox'!important;
        margin-left: 3px;
        @include nbx-flex-common;
        box-sizing: border-box;
      }
      .nubox-descargar {
        margin-right: 6px;
        font-size: 11px;
      }
      .splitbutton-icon {
        height: 25px;
        width: 100%;
        line-height: 23px;
        border-radius: 2px;
      }
    }
  }
  &.sm {
    button.button-splitbutton {
      height: 28px;
      > span {
        margin-top: -2px;
        width: 28px;
        height: 28px;
        font-size: 12px;
        font-family: 'Nubox'!important;
        @include nbx-flex-common;
        box-sizing: border-box;
        border-left: 1px solid $white;
        &:before {
          font-size: 13px;
        }
      }
      .nubox-descargar {
        position: relative;
        top: 1px;
        margin-right: 6px;
        font-size: 11px;
      }
      /*&:before{
        display:block;
        width: 1px;
        height: 26px;
        right: 26px;
        top: 0px;
        position: absolute;
        background-color: white;
      }*/
    }
    .splitbutton-icon {
      height: 16px;
      width: 100%;
      line-height: 14px;
      border-radius: 2px;
    }
  }
  &#nuevo-splitbutton {
      display: flex;
      align-items: center;
  }
  button.button-splitbutton {
    color: $white;
    box-sizing: border-box; 
    cursor: pointer;
    //padding: 0px 0px 2px 10px;
    padding-right: 0px;
    padding-left: 2px;
    display: inline-block;
    position: relative;
    @include nbx-flex-common;
    @include nbx-animate;
    @include nbx-border-sm;
    @include nbx-box-shadow;
    @include nbx-roboto;
    font: {
      size: 11px;
      weight: 600;
    }
    text: {
      align: center;
      transform: uppercase;
    }
    .splitbutton-icon {
      padding-left: 5px;
      padding-right: 6px;
    }
  }
  .wrapper-splitbutton {
    height: auto;
    position: absolute;
    top: 100%;
    left: -5px;
    width: 100%;
    z-index: 1;
    //overflow: hidden;
    display: none;
    .ul-splitbutton {
      @include nbx-flex-alt;
      @include nbx-webkit-reset;
      @include nbx-clean-list;
      padding-left: 0;
      border: 1px solid $hover-gray;
      background-color: $white;
      position: relative;
      width: 100%;
      @include nbx-box-shadow-popover;
      .li-splitbutton {
        width: 100%;
        button.splitbutton {
          @include nbx-flex-common;
          justify-content: flex-start; 
          height: 42px;
          border: none;
          background-color: transparent;
          background: transparent;
          width: 100%;
          border-radius: 0;
          @include nbx-roboto;
          @include nbx-animate;
          font: {
            size: 13px;
            weight: 400;
          }
          color: $soft-black;
          padding: 0px 16px 0px 16px;
          cursor: pointer;
          text: {
            align: left;
            transform: capitalize;
          }
          span {
            color: $gray-4;
            font-size: 15px;
            vertical-align: text-bottom;
            margin-right: 6px;
          }
          span.mid {
            font-size: 18px;
            margin-left: 0px;
            margin-right: 4px;
          }
          span.xl {
            font-size: 18px;
            margin-right: 4px;
            vertical-align: top;
          }
          &:hover, &:focus {
            background-color: darken($white, 10%);
            border-radius: 0;
          }
          outline: none;
          &:hover, &:active, &:focus {
            outline: none;
          }
          .content {
            padding: 3px;
          }
          &[aria-pressed="false"], [role=button][aria-pressed="false"]{
            outline: 0;
            outline: none;
            box-shadow: none;
            .content {
              outline: 0;
              outline: none;
              box-shadow: none;
            }
          }
          &[aria-pressed="true"], [role=button][aria-pressed="true"]{
            outline: 0;
            outline: none;
            box-shadow: none;
            .content {
              box-shadow: 0 0 0 3px $color-6 , 0 0 0 5px $color-5;
              transition: box-shadow 200ms ease;
            }
          }
          &:focus {
            outline: 0;
            outline: none;
            box-shadow: none;
            .content {
              box-shadow: 0 0 0 3px $color-6 , 0 0 0 5px $color-5;
              transition: box-shadow 200ms ease;
            }
          }
          &:active {
            outline: 0;
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
  //ANCHOS ANTIGUOS ELIMINAR CUANDO SE ESTEN USANDO LOS NUEVOS
  &.wrapper-xs {
    .wrapper-splitbutton {
      width: 120px;
    }
  }
  &.wrapper-sm {
    .wrapper-splitbutton {
      width: 160px;
    }
  }
  &.wrapper-md {
    .wrapper-splitbutton {
      width: 200px;
    }
  }
  &.wrapper-lg {
    .wrapper-splitbutton {
      width: 250px;
    }
  }
  //DROP UP 
  .drop-up {
    .wrapper-splitbutton {
      top: initial;
      bottom: 100%;
    }
  }
  //ANCHOS ANTIGUOS ELIMINAR CUANDO ESTEN LOS NUEVOS FIN
  //INICIO DE ESTILOS QUE DEFINEN ANCHO DE LOS DROPDOWN
  &.list-width-100 {
    .wrapper-splitbutton {
      width: 100px;
    }
  }
  &.list-width-110 {
    .wrapper-splitbutton {
      width: 110px;
    }
  }
  &.list-width-120 {
    .wrapper-splitbutton {
      width: 120px;
    }
  }
  &.list-width-130 {
    .wrapper-splitbutton {
      width: 130px;
    }
  }
  &.list-width-140 {
    .wrapper-splitbutton {
      width: 140px;
    }
  }
  &.list-width-150 {
    .wrapper-splitbutton {
      width: 150px;
    }
  }
  &.list-width-160 {
    .wrapper-splitbutton {
      width: 160px;
    }
  }
  &.list-width-170 {
    .wrapper-splitbutton {
      width: 170px;
    }
  }
  &.list-width-180 {
    .wrapper-splitbutton {
      width: 180px;
    }
  }
  &.list-width-190 {
    .wrapper-splitbutton {
      width: 190px;
    }
  }
  &.list-width-200 {
    .wrapper-splitbutton {
      width: 200px;
    }
  }
  &.list-width-210 {
    .wrapper-splitbutton {
      width: 210px;
    }
  }
  &.list-width-220 {
    .wrapper-splitbutton {
      width: 220px;
    }
  }
  &.list-width-230 {
    .wrapper-splitbutton {
      width: 230px;
    }
  }
  &.list-width-240 {
    .wrapper-splitbutton {
      width: 240px;
    }
  }
  &.list-width-250 {
    .wrapper-splitbutton {
      width: 250px;
    }
  }
  &.list-width-260 {
    .wrapper-splitbutton {
      width: 260px;
    }
  }
  &.list-width-270 {
    .wrapper-splitbutton {
      width: 270px;
    }
  }
  &.list-width-280 {
    .wrapper-splitbutton {
      width: 280px;
    }
  }
  &.list-width-290 {
    .wrapper-splitbutton {
      width: 290px;
    }
  }
  &.list-width-300 {
    .wrapper-splitbutton {
      width: 300px;
    }
  }
  &.list-width-310 {
    .wrapper-splitbutton {
      width: 310px;
    }
  }
  &.list-width-320 {
    .wrapper-splitbutton {
      width: 320px;
    }
  }
  &.list-width-330 {
    .wrapper-splitbutton {
      width: 330px;
    }
  }
  &.list-width-340 {
    .wrapper-splitbutton {
      width: 340px;
    }
  }
  &.list-width-350 {
    .wrapper-splitbutton {
      width: 350px;
    }
  }
  &.list-width-360 {
    .wrapper-splitbutton {
      width: 360px;
    }
  }
  &.list-width-370 {
    .wrapper-splitbutton {
      width: 370px;
    }
  }
  &.list-width-380 {
    .wrapper-splitbutton {
      width: 380px;
    }
  }
  &.list-width-390 {
    .wrapper-splitbutton {
      width: 390px;
    }
  }
  &.list-width-400 {
    .wrapper-splitbutton {
      width: 400px;
    }
  }
  &.list-width-410 {
    .wrapper-splitbutton {
      width: 410px;
    }
  }
  &.list-width-420 {
    .wrapper-splitbutton {
      width: 420px;
    }
  }
  &.list-width-430 {
    .wrapper-splitbutton {
      width: 430px;
    }
  }
  &.list-width-440 {
    .wrapper-splitbutton {
      width: 440px;
    }
  }
  &.list-width-450 {
    .wrapper-splitbutton {
      width: 450px;
    }
  }
  &.list-width-460 {
    .wrapper-splitbutton {
      width: 460px;
    }
  }
  &.list-width-470 {
    .wrapper-splitbutton {
      width: 470px;
    }
  }
  &.list-width-480 {
    .wrapper-splitbutton {
      width: 480px;
    }
  }
  &.list-width-490 {
    .wrapper-splitbutton {
      width: 490px;
    }
  }
  &.list-width-500 {
    .wrapper-splitbutton {
      width: 500px;
    }
  }
  &.wrapper-nuevo {
    .wrapper-splitbutton {
      top: 44px;
      left: -51px;
      width: 144px;
    }
  }
  &.focus, &:focus {
    border-radius: 2px;
    box-shadow:0px 0px 0px 4px $white, 0px 0px 0px 6px $color-5;
    outline: 0;
    > .button-splitbutton {
      box-shadow: none;
    }
  }
}


// FIREFOX

html[data-useragent*="Firefox"] {
  .nbx-split-button {
    button.button-splitbutton {
      .splitbutton-icon {
        padding-top: 1px;
      }
    }
  }

  .nbx-split-button.sm {
    button.button-splitbutton {
      > span {
        margin-top: -1px;
      }
    }
  }

}
