//IMPORT GENERAL MIXINS AND CLASSES
@import '_mixins';

//INPUT CALENDAR

.nbx-input-calendar {
  @mixin input-size($size) {
    .nbx-input {
      input,
      button {
        height: $size;
      }
    }
  }

  display: inline-block;
  position: absolute;

  

  .dropdown-calendar {
    display: block;
    height: 1px;
    left: 0px;
    position: absolute;
  }

  .nbx-calendar {
    display: none;
  }

  .caret {
    display: none;
  }

  &.active {
    .nbx-calendar {
      display: block;
      z-index: 100;
    }

    .caret {
      //display: block;
      border-bottom: 8px solid $color-3;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      display: none !important;
      height: 0;
      left: calc(50% - 28px);
      position: absolute;
      width: 0;
    }
  }


  button {
    background: transparent;
    background-color: transparent;
    border: 0;
    color: $color-3;
    cursor: pointer;
    font: {
      family: 'Nubox' !important;
      size: 18px;
    }
    margin-left: 6px;
    outline: none;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: auto;

    &:hover,
    &:focus,
    &:active {
      border: 0;
      outline: 0;
    }
  }

  div {
    input {
      @include nbx-border-md;
      @include nbx-roboto;
      @include nbx-text-overflow;
      float: left;
      font-size: 13px;
      outline: none;
      padding: 0 6px;
      position: relative;
      width: calc(100% - 24px);
    }
  }

  &.sm {
    @include input-size($size: 28px);
  }

  &.lg {
    @include input-size($size: 32px);
  }

  &.normal {
    div {
      input {
        background: $white;
        background-color: $white;
        border: 1px solid $gray-19;
        color: $black;

        &:focus,
        &:active,
        &.focus {
          border: 2px solid $color-5;
        }

        &::placeholder {
          color: lighten($black, 40%);
          font-style: italic;
          font-weight: i400;
        }
      }
    }

    &.disabled {
      div {
        input {
          background: $gray-17;
          background-color: $gray-17;
          border: 1px solid $gray-16;
          color: $gray-15;

          &:focus,
          &:hover,
          &:active {
            border: 1px solid $gray-16;
          }
        }
      }
    }
  }

  &.base-line {
    div {
      input {
        height: 26px;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 1px solid transparent;
        border-bottom: 1px solid $gray-19;
        background-color: transparent;

        &:hover {
          border-bottom: 1px solid $hover-gray;
          transition: border-color 200ms ease;
        }

        &:focus, &:active, &.focus {
          border-bottom: 2px solid $color-5;
          padding-top: 1px;
          margin-left: 0;
        }

        &::placeholder{
          color: lighten($black, 40%);
          font-style: italic;
          font-weight: i400;
        }

        &:disabled {
          color: $gray-15;
        }
        &.focus {
          border-bottom: 2px solid $color-5;
        }
      }
    }

    &.validation-failed {
    div{
      > input {
        border-bottom: 2px solid $color-10;
      }
    }
  }

    &.disabled {
      div {
        input {
          color: $gray-15;
          &:focus, &:hover, &:active {
            border-bottom: 1px solid $gray-16;
            color: $gray-15;
          }
        }
      }
    }
  }

  //DIRECCIONES DEL CALENDARIO 
  &.right {
    bottom: 0;
    right: 0;

    .dropdown-calendar {
      bottom: -7px;
    }

    .caret {
      bottom: -8px;
    }
  }

  &.bottom {
    left: 0px;
    &.sm {
      top: 29px;
      .dropdown-calendar {
        top: 34px;
      }
      .caret {
        top: 27px;
      }
      &.drop-up {
        .dropdown-calendar {
          top: initial;
          bottom: calc(214px + 34px);
        }
      }
    }
    &.lg {
      top: 31px;
      .dropdown-calendar {
        top: 38px;
      }
      .caret {
        top: 31px;
      }
    }
  }
}

.nbx-calendar {
  width: auto;
  height: auto;
  background-color: $white;
  position: absolute!important;
  top: 0px;
  left: 0px;
  margin-top: 0px;
  @include nbx-box-shadow;
  .wrapper {
    position: relative;
    width: 100%;
    @include nbx-flex-alt;
    .calendar-header {
      height: 35px;
      background-color: $color-3;
      padding: 0px 45px 0px 45px;
      position: relative;
      width: 100%;
      .title {
        cursor: pointer;
        color: $white;
        @include nbx-roboto;
        font:{
          size: 13px;
          weight: 600;
        }
        text: {
          align: center;
          transform: uppercase;
        }
        height: 35px;
        @include nbx-flex-common;
        .current {
          margin-right: 6px;
          height: 35px;
          line-height: 35px;
          display: inline-block;
          position: relative;
          &.search {
            &:after {
              font-family: 'Nubox'!important;
              font-size: 13px;
              color: $white;
              content: '\e90a';
              position: absolute;
              right: -19px;
              top: 0px;
            }
          }
        }
      }
      .nav-buttons {
        position: absolute;
        top: 17px;
        left: 0px;
        height: 0px;
        width: 100%;
        @include nbx-flex-common;
        justify-content: space-between;
        button {
          border: none;
          background: transparent;
          background-color: tranparent;
          position: relative;
          height: 35px;
          width: 35px;
          cursor: pointer;
          outline: 0;
          outline: none;
          box-shadow: 0;
          box-shadow: none;
          @include nbx-cero;
          @include nbx-animate;
          @include nbx-flex-common;
          &:hover, &:focus, &:active {
            outline: 0;
            outline: none;
            box-shadow: 0;
            box-shadow: none;
          }
          &:after {
            font-family: 'Nubox'!important;
            font-size: 14px;
            color: $white;
          }
          &.nav-back {
            &:after {
              content: '\e94c';
              margin-left: -1px;
            }
          }
          &.nav-next {
            &:after {
              content: '\e90b';
              margin-right: -1px;
            }
          }
        }
      }
    }
    .calendar-body {
      width: auto;//cambiar despues
      height: auto;//cambiar despues
      //calendario tradicional
      .month-weeks {
        .header {
          @include nbx-flex-common;
          .day {
            @include nbx-roboto;
            font: {
              size: 12px;
              weight: 600;
            }
            text: {
              transform: uppercase;
              align: center;
            }
            width: 30px;
            height: 30px;
            @include nbx-flex-common;
          }
        }
        .days {
          @include nbx-flex-alt;
          .week {
            @include nbx-flex-common;
            .day {
              width: 30px;
              height: 30px;
              font: {
                size: 12px;
                weight: 500;
              }
              text: {
                transform: uppercase;
                align: center;
              }
              cursor: pointer;
              @include nbx-flex-common;
              @include nbx-roboto;
              &.active {
                background-color: $color-2;
                color: $white;
              &.focus {
                border-color: $color-3;
              }
                &:hover {
                  background-color: lighten($color-2, 10%);
                  color: $white;
                }
              }
              &.prev, &.next {
                background-color: $gray-6;
                color: $gray-4;
                &.disabled {
                  color: $gray-2;
                  background-color: $gray-6;
                  &:hover {
                    color: $gray-2;
                    background-color: $gray-6;
                  }
                }
              }
              &:hover {
                background-color: $gray-6;
                color: $gray-5;
              }
              &.disabled {
                color: $gray-2;
                background-color: transparent;
                &:hover {
                  color: $gray-2;
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
      //calendario de los meses del año
      .year-month {
        @include nbx-flex-alt;
        .months {
          @include nbx-flex-common;
          .month {
            @include nbx-flex-common;
            width: 70px;
            height: 52px;
            font: {
              size: 14px;
              weight: 400;
            }
            text: {
              transform: capitalize;
              align: center;
            }
            cursor: pointer;
            border: 1px solid transparent;
            box-sizing: border-box;
            border-radius: 3px;
            @include nbx-flex-common;
            @include nbx-roboto;
            &.active {
              background-color: lighten($color-2, 10%);
              border: 1px solid $color-2;
              color: $white;
              @include nbx-animate;
              &:hover {
                background-color: $color-2;
                color: $white;
              }
            }
            &.prev, &.next {
              background-color: $gray-6;
              color: $gray-4;
            }
            &:hover {
              background-color: $gray-6;
              border: 1px solid $gray-4;
              color: $black;
            }
            &.disabled {
              color: $gray-2;
              background-color: transparent;
              background: transparent;
              border: 1px solid transparent;
              &:hover {
                color: $gray-2;
                background-color: transparent;
                background: transparent;
                border: 1px solid transparent;
              }
            }
          }
        }
      }
      //calendario de los años
      .some-years {
        @include nbx-flex-alt;
        .years {
          @include nbx-flex-common;
          .year {
            @include nbx-flex-common;
            width: 70px;
            height: 52px;
            font: {
              size: 14px;
              weight: 400;
            }
            text: {
              transform: capitalize;
              align: center;
            }
            cursor: pointer;
            border: 1px solid transparent;
            box-sizing: border-box;
            border-radius: 3px;
            @include nbx-flex-common;
            @include nbx-roboto;
            &.active {
              background-color: lighten($color-2, 10%);
              border: 1px solid $color-2;
              color: $white;
              @include nbx-animate;
              &:hover {
                background-color: $color-2;
                color: $white;
              }
            }
            &.prev, &.next {
              background-color: $gray-6;
              color: $gray-4;
            }
            &:hover {
              background-color: $gray-6;
              border: 1px solid $gray-4;
              color: $black;
            }
            &.disabled {
              color: $gray-2;
              background-color: transparent;
              background: transparent;
              border: 1px solid transparent;
              &:hover {
                color: $gray-2;
                background-color: transparent;
                background: transparent;
                border: 1px solid transparent;
              }
            }
          }
        }
      }
    }
  }
  &.range {
    .wrapper {
      .calendar-header {
        .title {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 436px;
          .current {
            width: 230px;
            position: absolute;
            top: 0px;
            //background: red;
            &.search {
              &:after {
                right: 50px;
                //display: none;
              }
            }
            &:nth-of-type(1){
              left: 0px;
            }
            &:nth-of-type(2) {
              right: -6px;
            }
          }
        }
      }
      .calendar-body {
        @include nbx-flex-common;
        .month-weeks {
          padding-right: 16px;
          &.last{
            padding-right: 0px;
          }
        }
      }
    }
  } 
}

.filter-common {
    .nbx-calendar {
        width: auto;
        height: auto;
        background-color: $white;
        position: absolute!important;
        top: 0px;
        left: 0px;
        margin-top: 0px;
        @include nbx-box-shadow;
        .wrapper {
            position: relative;
            width: 100%;
            @include nbx-flex-alt;
            .calendar-header {
                height: 35px;
                background-color: $color-3;
                padding: 0px 45px 0px 45px;
                position: relative;
                width: 100%;
            }
        }
    }
}
