//IMPORT GENERAL MIXINS AND CLASSES
@import "_mixins.scss";

.nbx-layout{
  &.show-border{
    background-color: rgba($white, 0.25);
    div {
      background-color: rgba($color-1, 0.5);
      div {
        background-color: $color-1;
        div {
          background-color: $color-2;
        }
      }
    }
    .breadcrumb-space{
      background-color: rgba($color-6, 0.25);
    }
    .common-filter {
      .form-group-x {
        width: 400px;
        height: 32px;
        &:nth-of-type(2){
          width: 100px;
          height: 32px;
        }
      }
    }
    .layout-body {
      background-color: rgba($color-1, 0.75);
    }
  }
  &.show-description{
    div {
      &:before{
        color: $white;
        @include nbx-roboto;
        font: {
          size: 11px;
          weight: 600;
        }
        text: {
          align: center;
          transform: uppercase;
        }
        position: absolute;
        right: 5px;
        bottom: 5px;
        letter-spacing: 4px;
      }
    }
    .navbar-space{
      &:before {
        content: "navbar";
      } 
    }
    .breadcrumb-space{
      &:before {
        content: "breadcrumb";
      } 
    }
    .common-filter {
      &:before {
        content: "espacio para el filtro";
      } 
      .form-group-x {
        &:before {
          content: "input";
        } 
        &:nth-of-type(2){
          &:before {
            content: "botón";
          } 
        }
      }
    }
    .layout-body {
      &.grid-actiontop-actionbottom{
        &:before {
          content: "grid con barra superior e inferior"
        }
      }
    }
  }
  .navbar-space{
    display: block;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
  }
  .breadcrumb-space {
    display: block;
    height: 38px;
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100%;
  }
  .layout-header{
    &.filter-common {
      height: 100px;
    }
  }
  .layout-body {
    position: relative;
    &.grid-actiontop-actionbottom {
      height: calc(100vh - 272px);
    }
  }
}


h1.section-title {
  @include nbx-roboto;
  font: {
    size: 17px;
    weight: 600;
  }
  padding-bottom: 14px;
  color: $color-3;
}

.common-filter {
  height: 32px;
  box-sizing: border-box;
}


//FORM ITEMS

// FORM GROUP HORIZONTAL
.form-group-x {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  position: relative;
  height: auto;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  .form-group-x-radio{
    margin-right: 8px;
    margin-left: 8px;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 8px;
    }
  }
  &:last-of-type {
    margin-right: 0;
  }
  &:hover, &:active, &:focus {
    outline: none;
  }
  &.mini {
    margin-right: 8px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &.maxi {
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &.maxi-reverse {
    margin-left: 20px;
  }
  &.vertical {
    margin-right: 0px;
    margin-bottom: 24px;
    &:last-of-type{
      margin-bottom: 0px;
    }
  }
  &.check {
    .label-form-x {
      width: 100%;
      margin-left: 6px;
      text-align: left;
    }
  }
}

// FORM GROUP VERTICAL
.form-group-y {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  position: relative;
  margin-right: 20px;
  outline: none;
  &:hover, &:active, &:focus {
    outline: none;
  }
  &:last-of-type {
    margin-right: 0;
  }
  &.mini {
    margin-right: 8px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &.vertical {
    margin-bottom: 20px;
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  &.button-y {
    justify-content: flex-end;
  }
  input.nbx-input {
    width: 100%;
  } 
}

// FORM LABELS
.label-form-x {
  display: inline-block;
  @include nbx-roboto;
  font-weight: 400;
  font-size: 13px;
  margin-right: 6px;
  margin-left: 0;
  color: #656565;
  text: {
    align: left;
    transform: initial;
  }
}

.label-form-y {
  display: block;
  @include nbx-roboto;
  font-weight: 600;
  font-size: 12px;
  color: #656565;
  margin-bottom: 6px;
  align-self: flex-start;
  text: {
    align: left;
    transform: uppercase;
  }
}

// FORM ITEMS

.form-group-y-input, .form-group-y-dropdown, .form-group-y-combobox, .form-group-y-switch, .form-group-y-button, .form-group-y-calendar, .form-group-y-radio, .form-group-y-checkbox {
  display: block;
  align-self: flex-start;
}

.form-group-x-input, .form-group-x-dropdown, .form-group-x-combobox, .form-group-x-switch, .form-group-x-button, .form-group-x-calendar, .form-group-x-radio {
  display: inline-block;
  align-self: flex-start;
}

// FLEX POSITIONS
.flex {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

// FLEX JUSTIFY (HORIZONTAL DISTRIBUTION)
.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-space {
  justify-content: space-between;
}

.flex-stretch {
  align-items: stretch;
}
