//IMPORT GENERAL MIXINS AND CLASSES
@import "_mixins.scss";

.nbx-switch{
  position: relative;
  display: inline-block;
  background: $white;
  border: 1px solid $gray-19;
  color: $gray-15;
  overflow: hidden;
  @include nbx-border-lg;
  &.sm {
    height: 28px;
    width: 56px;
    input[type=checkbox]{
      & + label {
        height: 28px;
        width: 28px;
      }
      &:checked + label {
        height: 28px;
        width: 28px;
      }
    }
  }
  &.lg {
    height: 32px;
    width: 64px;
    input[type=checkbox]{
      & + label {
        height: 32px;
        width: 32px;
      }
      &:checked + label {
        height: 32px;
        width: 32px;
      }
    }
  }
  input[type=checkbox] {
    display:none;
    @include nbx-animate;
    cursor: pointer;
    & + label {
      position: absolute;
      @include nbx-cero;
      background: $gray-17;
      @include nbx-flex-common;
      @include nbx-animate;
      @include nbx-roboto;
      cursor: pointer;
      font: {
        size: 11px;
        weight: 500;
      }
      text: {
        align: center;
        transform: uppercase;
      }
      top: 0px;
      left: 0px;
      cursor: pointer;
      &:after {
        content: "no";
        cursor: pointer;
      }
    }
    &:checked + label {
      @include nbx-cero;
      @include nbx-flex-common;
      color: $white;
      position: absolute;
      top: 0px;
      left: 0px;
      background: $color-3;
      @include nbx-animate;
      @include nbx-roboto;
      cursor: pointer;
      font: {
        size: 11px;
        weight: 500;
      }
      text: {
        align: center;
        transform: uppercase;
      }
      margin-left: 50%;
      &:after {
        content: "si";
        cursor: pointer;
      }
    }
  }
}
